

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}


.img {
	width: 150px;
}

.item {
	text-align: center;
	display:flex;
	align-items:center;
	justify-content: center;
}

.score {
	text-align: center;
}


.img:active {
	width: 140px;
}



.usercard {
	text-align: center;
}





/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/