

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}



.img {
    touch-action: auto;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40%;
}

.item {
	text-align: center;
	display:flex;
	align-items:center;
	justify-content: center;
}

.score {
	text-align: center;
}


.img:active {
    touch-action: auto;
	width: 190px;
}

.menu {
    background-color: white;
    width:390px;
    height:100px;
    position:fixed;
    bottom:10px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 500px;
    flex-wrap: wrap;
}



ul li{
  width:130px;
  height:100px;
  text-align: center;

}




.logo {
	width: 75px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0%;
}

.text_logo{
    text-decoration: none;
    color: black;
}

.text_logo:hover {
    color: black;
    text-decoration:none;
    cursor:pointer;
}



.usercard {
	text-align: center;
}



/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/